#contain{
    float:left;
    width: 30%;
    margin-right:1%;
    height: 25%;
}
.imageShow{
    width: 100%;
    height: 238px;
    border: 1px dashed Olive;
    background: url(image/message_auth_image.jpg);
}
#posi{
    margin: -30px 0 0 90%;
    width: 100px;
    height: 25px;
}
.radio{
    width: 15px;
    height: 15px;
    margin-left: -8px;
    cursor: pointer;
    background: red;
}