@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;color:#fff;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
h5,h6{font-size:14px;}

section{margin:4em 0;}
.toolbar{position:fixed;top:0;left:0;right:0;background-color:#fff;line-height:68px;border-top:0px solid #b0120a;}
.menu-button{position:relative;margin:10px;height:36px;width:36px;cursor:pointer;}
.menu-button:before{content:"";position:absolute;top:5px;right:3px;border-bottom:17px double black;border-top:6px solid black;width:30px;height:5px;}
.menu-left{float:left;margin-right:1.5em;}
.sidebar{margin:0;padding-top:1em;color:white;background-color:grey;}
.sidebar h6{margin:0 .8em;padding:0;font-weight:300;}
.sidebar li{margin:.5em 0;padding:0 1em;line-height:32px;}
.sidebar li:hover{background-color:#e84e40;}
.sidebar hr{margin:2em auto;border:0;padding:0;width:80%;height:1px;background-color:white;}
/*主要样式*/
.subNav h5{cursor:pointer;text-align:center;}
.subNav h6{cursor:pointer;text-align:center;margin-top:50px;}
.navContent{display:none;color:#999;}